{% extends 'ftea/base.html' %}
{% load static %}
{% block content %}

		<!-- Scroll to top button -->
		<div class="scrolltotop padding-10">
			<a class="button-circle button-circle-sm button-circle-dark" href="#"><i class="ti-arrow-up"></i></a>
		</div>
		<!-- end Scroll to top button -->

		<!-- Home section -->
		<div class="section-fullscreen padding-30" id="home">
			<div class="h-100 bg-image parallax" data-jarallax-video="https://www.youtube.com//embed/JfcLYJcq4E8">
				<div class="bg-black-04">
					<div class="container text-center">
						<div class="position-middle">
							<h1 class="display-4 font-weight-extra-light">4tea<br/>automation</h1>
						</div>
					</div><!-- end container -->
				</div><!-- end bg-black-* -->
			</div><!-- end bg-image -->
		</div>
		<!-- end Home section -->



    <!-- Services section -->
		<div class="section" id="about">
			<div class="container">
				<div class="row col-spacing-40 icon-5xl">
                    					<!-- Service box 1 -->
                    					<div class="col-12 col-md-6 col-lg-4">
						<div class="d-flex">
							<div class="d-inline-block margin-right-30">
								<i class="ti-settings text-dark"></i>
							</div>
							<div class="d-inline-block">
								<h5 class="font-weight-normal">Business automation</h5>
								<p>Boring tasks everyday? Invoices? Excel files? Stop! Just tell us what, we will tell you how. </p>
							</div>
						</div>
					</div>

					<!-- Service box 2 -->


<div class="col-12 col-md-6 col-lg-4">
						<div class="d-flex">
							<div class="d-inline-block margin-right-30">
								<i class="ti-world text-dark"></i>
							</div>
							<div class="d-inline-block">
								<h5 class="font-weight-normal">Web Development</h5>
								<p>We provide full web development process: consultation, design, acceptation, coding and deploing.</p>
							</div>
						</div>
					</div>
                    <!-- Service box 3 -->

                    					<div class="col-12 col-md-6 col-lg-4">
						<div class="d-flex">
							<div class="d-inline-block margin-right-30">
								<i class="ti-shopping-cart text-dark"></i>
							</div>
							<div class="d-inline-block">
								<h5 class="font-weight-normal">Shop development</h5>
								<p>Decided to build your own shop? Great, we will share our experience to help you chose technology and selling strategy. </p>
							</div>
						</div>
					</div>

					<!-- Service box 4 -->
					<div class="col-12 col-md-6 col-lg-4">
						<div class="d-flex">
							<div class="d-inline-block margin-right-30">
								<i class="ti-server text-dark"></i>
							</div>
							<div class="d-inline-block">
								<h5 class="font-weight-normal">Hosting</h5>
								<p>Another boring tasks with domains and servers? Don't worry, we will take complex care about it. </p>
							</div>
						</div>
					</div>
					<!-- Service box 5 -->
					<div class="col-12 col-md-6 col-lg-4">
						<div class="d-flex">
							<div class="d-inline-block margin-right-30">
								<i class="ti-mobile text-dark"></i>
							</div>
							<div class="d-inline-block">
								<h5 class="font-weight-normal">Mobile App</h5>
								<p>Go further. Let's build digi product together. We are using React Native.  </p>
							</div>
						</div>
					</div>
					<!-- Service box 6 -->
					<div class="col-12 col-md-6 col-lg-4">
						<div class="d-flex">
							<div class="d-inline-block margin-right-30">
								<i class="ti-comment-alt text-dark"></i>
							</div>
							<div class="d-inline-block">
								<h5 class="font-weight-normal">Consulting</h5>
								<p>Just talk? We will share our experience with real pleasure. Let's grab a coffee.  </p>
							</div>
						</div>
					</div>
				</div><!-- end row -->
			</div><!-- end container -->
		</div>
		<!-- end Services section -->

		<!-- About section -->
		<div class="section-lg bg-dark-lighter margin-30">
			<div class="container">
				<div class="row col-spacing-50 align-items-center">
					<div class="col-12 col-lg-6">
						<h3 class="font-weight-light margin-bottom-20">We are helping in business,</h3>
						<p>Automation is about relieving your team of the repetitive tasks that a computer can do. Your employees will not be completely replaced, but will be able to do more valuable work that will benefit the entire company or team.

The main principle of automation is to identify tasks in your processes where a machine can be better than a person. Then a process can be set up in the software that will automatically perform tasks for you or your colleagues.
                        </p>
					</div>
					<div class="col-12 col-lg-6">
						<!-- Progress bar box 1 -->
						<div class="progress-box">
                            <h6 class="font-weight-normal">Business automation</h6>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                                    <span>90%</span>
                                </div>
                            </div>
                        </div>
                        <!-- Progress bar box 2 -->
						<div class="progress-box">
                            <h6 class="font-weight-normal">Web Development</h6>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 95%;" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
                                    <span>95%</span>
                                </div>
                            </div>
                        </div>
                        <!-- Progress bar box 3 -->
						<div class="progress-box">
                            <h6 class="font-weight-normal">Hosting Administration</h6>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                    <span>100%</span>
                                </div>
                            </div>
                        </div>
                        <!-- Progress bar box 4 -->
                        <div class="progress-box">
                            <h6 class="font-weight-normal">Consulting</h6>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                                    <span>85%</span>
                                </div>
                            </div>
                        </div>
					</div>
				</div><!-- end row -->
			</div><!-- end container -->
		</div>
		<!-- end About section -->



		<!-- About section -->
		<div class="section">
			<div class="container">
				<div class="row col-spacing-50 align-items-center">
					<div class="col-12 col-lg-5 col-xl-6">
{#						<img class="border-radius box-shadow-with-hover" src="{% static 'ftea/images/col-1.jpg' %}" alt="">#}
						<img class="border-radius box-shadow-with-hover" src="{% static 'ftea/img1/apsik.jpg' %}" alt="">
					</div>
					<div class="col-12 col-lg-7 col-xl-6">
						<h2 class="font-weight-normal">We belive in Quality</h2>
						<p>The direction of our activities is heading towards holistic solutions in order to ensure that comprehensive implementations not only help our clients to solve specific problems, but also facilitate scaling up their business.</p>
						<a class="button button-lg button-radius button-reveal-right-dark margin-top-30 internal-link" href="#contact-form"><span>More About Us</span><i class="ti-arrow-right"></i></a>
					</div>
				</div><!-- end row -->
			</div><!-- end container -->
		</div>
		<!-- end About section -->




    <!-- Testimonial section -->
		<div class="section-lg bg-image parallax margin-30" style="background-image: url({% static 'ftea/img1/bgc.jpg' %}">
			<div class="bg-black-04">
				<div class="container">
					<div class="owl-carousel" data-owl-dots="false" data-owl-nav="true" data-owl-margin="30" data-owl-xs="1" data-owl-sm="1" data-owl-md="1" data-owl-lg="2" data-owl-xl="2">
						<!-- 1 -->
						<div class="bg-black-07 border-radius padding-40">
							<div class="d-flex align-items-center margin-bottom-20">
								<div class="d-inline-block margin-right-20">
									<img class="img-circle-sm" src="{% static 'ftea/images/img-circle-small.jpg' %}" alt="">
								</div>
								<div class="d-inline-block">
									<h5 class="font-weight-normal margin-0 line-height-140">Emiley Haley</h5>
									<span class="font-small font-weight-normal text-white-09">Manager - Mono</span>
								</div>
							</div>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
						</div>
						<!-- 2 -->
						<div class="bg-black-07 border-radius padding-40">
							<div class="d-flex align-items-center margin-bottom-20">
								<div class="d-inline-block margin-right-20">
									<img class="img-circle-sm" src="{% static 'ftea/images/img-circle-small.jpg' %}" alt="">
								</div>
								<div class="d-inline-block">
									<h5 class="font-weight-normal margin-0 line-height-140">Andrew Palmer</h5>
									<span class="font-small font-weight-normal text-white-09">Developer - Mono</span>
								</div>
							</div>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
						</div>
						<!-- 3 -->
						<div class="bg-black-07 border-radius padding-40">
							<div class="d-flex align-items-center margin-bottom-20">
								<div class="d-inline-block margin-right-20">
									<img class="img-circle-sm" src="{% static 'ftea/images/img-circle-small.jpg' %}" alt="">
								</div>
								<div class="d-inline-block">
									<h5 class="font-weight-normal margin-0 line-height-140">Anna Mullen</h5>
									<span class="font-small font-weight-normal text-white-09">Designer - Mono</span>
								</div>
							</div>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
						</div>
						<!-- 4 -->
						<div class="bg-black-07 border-radius padding-40">
							<div class="d-flex align-items-center margin-bottom-20">
								<div class="d-inline-block margin-right-20">
									<img class="img-circle-sm" src="{% static 'ftea/images/img-circle-small.jpg' %}" alt="">
								</div>
								<div class="d-inline-block">
									<h5 class="font-weight-normal margin-0 line-height-140">John Smith</h5>
									<span class="font-small font-weight-normal text-white-09">Marketer - Mono</span>
								</div>
							</div>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
						</div>
					</div><!-- end owl-carousel -->
				</div><!-- end container -->
			</div><!-- end bg-black-* -->
		</div>
		<!-- end Testimonial section -->


		<!-- Home section -->
		<div class="section-2xl">
			<div class="container">
				<div class="row">
					<div class="col-12 col-lg-10 col-xl-9">
						<h1 class="display-4 font-weight-bold margin-0 line-height-130">Whatever you want online, come and talk to us.</h1>
					</div>
				</div><!-- end row -->
			</div><!-- end container -->
		</div>
		<!-- end Home section -->







		<!-- Parallax section -->
		<div class="padding-30">
			<div class="section-xl bg-image parallax" style="background-image: url({% static 'ftea/img1/paralax-section.jpg' %})">
				<div class="bg-black-06">
					<div class="container">
						<div class="row align-items-center">
							<div class="col-12 col-lg-8 col-xl-7">
								<h1 class="font-weight-light">We Are Always Ready</h1>
								<p>We are working mostly remotely, thanks to that we are able to stay in touch with our clients anytime they need. </p>
							</div>
							<div class="col-12 col-lg-4 col-xl-5 text-lg-right">
								<a class="button button-xl button-radius button-border-1px button-reveal-right-outline-white internal-link" href="#contact-form"><i class="ti-arrow-right"></i><span>Get In Touch</span></a>
							</div>
						</div><!-- end row -->
					</div><!-- end container -->
				</div><!-- end bg-black-* -->
			</div><!-- end section-lg -->
		</div>
		<!-- end Parallax section -->

		<!-- Contact Info -->
		<div id="contact-form" class="section">
			<div class="container padding-30 padding-top-0 padding-bottom-0 text-center">
				<div class="row icon-4xl">
					<!-- Icon text box 1 -->
					<div class="col-12 col-sm-6 col-md-3">
						<i class="ti ti-email text-dark margin-bottom-20"></i>
						<h6 class="font-weight-normal margin-0">Email</h6>
						<p>contact@4tea.pl</p>
					</div>
					<!-- Icon text box 2 -->
					<div class="col-12 col-sm-6 col-md-3">
						<i class="ti ti-mobile text-dark margin-bottom-20"></i>
						<h6 class="font-weight-normal margin-0">Phone</h6>
						<p>+48 694 037 695</p>
						<p>+44 07459 205 133</p>
					</div>
					<!-- Icon text box 3 -->
					<div class="col-12 col-sm-6 col-md-3">
						<i class="ti ti-linkedin text-dark margin-bottom-20"></i>
						<h6 class="font-weight-normal margin-0">Linkedin</h6>
						<p>linkedin.com/in/4tea</p>
					</div>
					<!-- Icon text box 4 -->
					<div class="col-12 col-sm-6 col-md-3">
						<i class="ti ti-location-pin text-dark margin-bottom-20"></i>
						<h6 class="font-weight-normal margin-0">Address</h6>
						<p>Drzymały 17/6<br/> 05-800 Pruszkw</p>
					</div>
				</div><!-- end row -->
			</div><!-- end container -->
		</div>
		<!-- end Contact Info -->

		<!-- Contact Form -->
		<div class="section padding-top-0">
			<div class="container padding-30 padding-top-0 padding-bottom-0">
				<div class="contact-form">
					<form method="post" id="contactform" class="form-style-3">
                        {% csrf_token %}
                        {{ form }}
{#						<div class="form-row">#}
{#							<div class="col-12 col-sm-6">#}
{#								<input type="text" id="name" name="name" placeholder="Name" required>#}
{#							</div>#}
{#							<div class="col-12 col-sm-6">#}
{#								<input type="email" id="email" name="email" placeholder="E-Mail" required>#}
{#							</div>#}
{#						</div>#}
{#						<textarea name="message" id="message" placeholder="Message"></textarea>#}
						<button class="button button-lg button-border-1px button-radius button-outline-dark-2" type="submit">Send Message</button>
					</form>
					<!-- Submit result -->
					<div class="submit-result">
						<span id="success">Thank you! Your Message has been sent.</span>
						<span id="error">Something went wrong, Please try again!</span>
					</div>
				</div><!-- end contact-form -->
			</div><!-- end container -->
		</div>
		<!-- end Contact Form -->

		<!-- Google Maps -->
		<div class="padding-30">
{#			<div id="map1" class="gmap gmap-xl" data-latitude="51.513569" data-longitude="-0.123443"></div>#}
        <iframe width='100%' height='300px' id='mapcanvas' src='https://maps.google.com/maps?q=drzyma%C5%82y%2017,%20pruszk%C3%B3w&amp;t=&amp;z=12&amp;ie=UTF8&amp;iwloc=&amp;output=embed' frameborder='0' scrolling='no' marginheight='0' marginwidth='0'><div class="zxos8_gm"><a rel="bookmark"  href="https://www.freecarcheck.uk/">Free Car Check LTD</a></div><div style='overflow:hidden;'><div id='gmap_canvas' style='height:300px;width:100%;'></div></div><div><small>Powered by <a href="https://www.embedgooglemap.co.uk">Embed Google Map</a></small></div></iframe>
		</div>

		<!-- end Google Maps -->

{% endblock %}

		<!-- Services section -->
		<div id="services" class="section-lg">
			<div class="container">
				<div class="section-title text-center">
					<h1>What We Do</h1>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
				</div>
				<div class="row col-spacing-40 text-center" data-jarallax-element="-20">
					<!-- Service box 1 -->
					<div class="col-12 col-lg-4 icon-5xl">
						<div class="border-radius border-all padding-30 hover-float hover-shadow">
							<i class="ti ti-desktop text-black-07 margin-top-20"></i>
							<h5 class="font-weight-normal margin-top-30">Web UI/UX</h5>
							<p class="margin-bottom-20">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
						</div>
					</div>
					<!-- Service box 2 -->
					<div class="col-12 col-lg-4 icon-5xl">
						<div class="border-radius border-all padding-30 hover-float hover-shadow">
							<i class="ti ti-mobile text-black-07 margin-top-20"></i>
							<h5 class="font-weight-normal margin-top-30">Mobile App</h5>
							<p class="margin-bottom-20">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
						</div>
					</div>
					<!-- Service box 3 -->
					<div class="col-12 col-lg-4 icon-5xl">
						<div class="border-radius border-all padding-30 hover-float hover-shadow">
							<i class="ti ti-comment-alt text-black-07 margin-top-20"></i>
							<h5 class="font-weight-normal margin-top-30">AI Chatbot</h5>
							<p class="margin-bottom-20">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
						</div>
					</div>
				</div><!-- end row -->
			</div><!-- end container -->
		</div>
		<!-- end Services section -->


		<!-- Portfolio section -->
		<div class="section">
			<div class="container padding-30 padding-top-0 padding-bottom-0">
				<!-- Portfolio filter -->
				<div class="filter filter-style-4 margin-bottom-50 text-center">
					<ul>
						<li class="active" data-filter="*">All</li>
						<li data-filter=".category-1">First</li>
						<li data-filter=".category-2">Second</li>
						<li data-filter=".category-3">Third</li>
					</ul>
				</div>
				<!-- end Portfolio filter -->
				<div class="portfolio-wrapper column-2 spacing-30 hover-style-1">
					<!-- Portfolio box 1 -->
					<div class="portfolio-item category-1">
						<div class="portfolio-box">
							<div class="portfolio-img">
								<img src="{% static 'ftea/images/col-2-square.jpg' %}" alt=""><!-- Image source -->
							</div>
							<a href="#"></a><!-- Portfolio Single link -->
							<div class="portfolio-title">
								<div>
									<span class="margin-bottom-10">Category</span>
									<h4 class="font-weight-light margin-0">Project Title</h4>
								</div>
							</div>
						</div>
					</div>
					<!-- Portfolio box 2 -->
					<div class="portfolio-item category-2">
						<div class="portfolio-box">
							<div class="portfolio-img">
								<img src="{% static 'ftea/images/col-2.jpg' %}" alt=""><!-- Image source -->
							</div>
							<a href="#"></a><!-- Portfolio Single link -->
							<div class="portfolio-title">
								<div>
									<span class="margin-bottom-10">Category</span>
									<h4 class="font-weight-light margin-0">Project Title</h4>
								</div>
							</div>
						</div>
					</div>
					<!-- Portfolio box 3 -->
					<div class="portfolio-item category-3">
						<div class="portfolio-box">
							<div class="portfolio-img">
								<img src="{% static 'ftea/images/col-2-square.jpg' %}" alt=""><!-- Image source -->
							</div>
							<a href="#"></a><!-- Portfolio Single link -->
							<div class="portfolio-title">
								<div>
									<span class="margin-bottom-10">Category</span>
									<h4 class="font-weight-light margin-0">Project Title</h4>
								</div>
							</div>
						</div>
					</div>
					<!-- Portfolio box 4 -->
					<div class="portfolio-item category-1">
						<div class="portfolio-box">
							<div class="portfolio-img">
								<img src="{% static 'ftea/images/col-2.jpg' %}" alt=""><!-- Image source -->
							</div>
							<a href="#"></a><!-- Portfolio Single link -->
							<div class="portfolio-title">
								<div>
									<span class="margin-bottom-10">Category</span>
									<h4 class="font-weight-light margin-0">Project Title</h4>
								</div>
							</div>
						</div>
					</div>
					<!-- end Portfolio box 4 -->
				</div><!-- end portfolio-wrapper-->
			</div><!-- end container -->
		</div>
		<!-- end Portfolio section -->

